:root{
    --primary: #89C100FF;
    --second: #156339FF;
    --yellow : #cace00;
    --ligth : #ffffff;
    --grey: #3d3f41;
    --greyligth: #EDEDED;
    --alert:  indianred;
    --greybold: #7E7E7E;
    --redmarck: #d20036;
}
*{
    font-family: 'Cabin', sans-serif;
}
/*@over botstrap styles*/
.bg-primary{background-color: var(--primary) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
.bg-greyligth{background-color: var(--greyligth) !important;}
.my-5 { margin-top: 0rem!important;}
.spinner-grow { width: 1rem; height: 1rem;}
.label_mje{color: var(--alert);}
.text-primary{
    color: var(--primary) !important;
}
.text-secondary{color: var(--second) !important;}

.text-light {color: var(--ligth) !important;}
.text-grey{color: var(--greybold) !important;}
.text-greybold{color: var(--greybold) !important;}
.btn-outline-primary{
    color:var(--primary) !important;
    border-color: var(--primary) !important;
}

.mark, mark {
    padding: .2em;
    background-color: var(--redmarck);
    color: var(--ligth) !important;
    font-size: 2em;
}
.btn-outline-primary:hover {
    color: var(--ligth) !important;
    background-color: var(--primary);
    border-color:  var(--primary);
}

.btn-outline-primary:hover{

}

.wabe-button{
    margin-top: -5rem;
}

.line-header{
    width: 150px;
    margin-left: -30px;
    height: 2px !important;
}

.certificates
{
    margin-right: 2em;
}

.world{
    margin-bottom: 15rem;
    width: 85%;
    margin: auto;
}

.working-img{
    position: absolute;
}

.container-experience{
    margin-top: 30rem;
}
.comilla{
    width: 3em;
}

.text-mje, .mje-2{
    margin: 0;
}
.container-headers{
    width:100%;
}

line-text{
    width: 150px;
    height: 2px !important;
}
.btn-contact{
    max-width: 150px !important;
    margin-top: 2rem;
}

.image-principal{
    margin: 0;
    position: relative;
    margin-top: -10rem;
    display: flex;
}

.img-down{
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    position: absolute;
    margin-top: -600px;
}

.bg-mg{
    padding-bottom: 35rem;
}

.bg-down{
    margin-top: -95vh;
    height: 95vh;
    right: 0;
    width: 100%;
    background-size: cover !important;
}
.bh{
    height: 35rem;
    position: relative;
    right: 0px;
    height: 100%;
    width: 100%;
}
.contador-cont{
    width: 50%;
    margin: auto;
    align-items: center;
}

.border-bottom {
    border-bottom: 1px solid #cccccc !important;
}

.hr-div{
    height: 1px;
    color: #797979;
    width: 50%;
    text-align: center;
    display: flex;
    align-content: space-between;
    margin: auto;
}

.hr-div-notice {
    height: 1px;
    color: #797979;
    width: 30%;
    text-align: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkfooter{
    color: var(--greybold);
    text-decoration: none;
}

.linkfooter:hover{
    color: var(--grey);
    text-decoration: none;
}

.icon-youtube:hover,
.icon-youtube:focus  {
    filter: invert(48%) sepia(100%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(0%);
}
.notice-footer{
    margin-top: 2rem;
    margin-bottom: 0rem;
}
body {
    margin:0;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
}
p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    h1 {
        font-size:24px;
    }
    .bg-trasparente{
        background-color: #fff !important;
    }

    .video-container {
        height: 95vh;
    }
    header .overlay {
        position: absolute;
        height: 950%;
    }
    .wabe {
        z-index: 99;
        height: auto;
        overflow: hidden;
        margin-bottom: -1px !important;
        position: relative;
        width: 100%;
    }

    .circule-home-img{
        width: 150px !important;
    }

    .finca-box{
        width:50%;
    }
    .welcome-title{
        text-align: center;
        padding-top: 2em;
    }
    .line-header{
        width: 100%;
        margin-left:0;
    }

    header{
        height: 100vh;
    }

    .counts {
        font-size: 1em !important;
    }

    .certificates {
        height: 20px !important;
        margin-right: 1em ;
    }

    .contador-cont {
        width: 75%;
    }

    .border-menu{
        border-bottom: 1px solid #cccccc !important;
        border-top: 1px solid #dee2e6!important;
    }

    .world {
        margin-bottom: 0rem;
        width: 100%;
    }

    .container-experience {
        margin-top: 15rem;
    }

    .cita-world{
        flex: 0 0 auto;
        width: 100%;
        text-align: start;
        margin-left: 1rem;
        text-align: center;
    }

    .bg-mg {
        padding-bottom: 10rem;
    }

    .footer{
        text-align: center;
    }
    .privacidad{
        display: block;
    }
    .hr-div-notice {
        margin: auto;
    }

    .cite{
        text-align: initial;
    }
    .bg-down {
        margin-top: -25vh;
        height: 25vh;
        width: 100%;
        background-size: cover !important;
    }

    .text-mje, .mje-2 {
        /* margin: 0px; */
        font-size: medium;
    }

    .comilla {
        width: 2em;
    }

}
/**********/

.bg-trasparente {
    background-color: transparent !important;
    transition: all 1s ease;
}
.bg-light{
    transition: all 1s ease;
}
header {
    height: 100vh;
    background-size: cover;
    color: #ffffff;
}
.platano{
    width: 100%;
}
.video-container {
    position: absolute;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0a401d85;
    opacity: 0.8;
    z-index: 1;
}
img:hover {
    filter: drop-shadow(5px 5px 10px #444);
}
.circule-home-img{
    width: 400px;
}

.wabe{
    z-index: 99;
    overflow: hidden;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.circule-back-header{
    position: absolute;
}

.welcome-title{
    margin: auto;
}

.counts{
    font-size: 2em;
}

.container-wolrd{
    height:600px;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('./assets/image/bg-img1.png') black no-repeat center center scroll;
    }
    header video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100vh;
        height: 100vh;
        width: auto;
        min-width: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .canvas{
        height: 100vh !important;
    }

    .wabe-button {
        margin-top: 0rem !important;
    }

    .container-headers{
        display: block;
    }

    .platano {
        width: 350px;
    }

}
/**********/

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    list-style: none;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}
.menu li a {
    font-size: 14px;
    color: var(--ligth);
    text-decoration: none;
    transition: all 0.45s;
}
.menu li:hover {
    border-bottom: 1px solid var(--second) !important;
    -webkit-animation: line 1s;
    animation: line 1s;
}
.menu li:hover a {
    color: var(--primary) !important;
}
.menu li:not(:last-child) {
    margin-right: 10px;
}

@-webkit-keyframes line {
    0% {
        background-position-x: 390px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}
/* Header components*/


#who-i-am{
    z-index: 99;
    position: relative;
    padding-top: 5rem;
}