:root{
    --primary: #89C100FF;
    --second: #156339FF;
    --yellow : #cace00;
    --ligth : #ffffff;
    --grey: #3d3f41;
    --greyligth: #EDEDED;
    --alert:  indianred;
    --greybold: #7E7E7E;
    --redmarck: #d20036;
    --blue: #00255a;
}
*{
    font-family: 'Cabin', sans-serif;
}
/*@over botstrap styles*/
.bg-primary{background-color: var(--primary) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
.bg-greyligth{background-color: var(--greyligth) !important;}
.my-5 { margin-top: 0rem!important;}
.spinner-grow { width: 1rem; height: 1rem;}
.label_mje{color: var(--alert);}
.text-primary{
    color: var(--primary) !important;
}
.text-secondary{color: var(--second) !important;}

.text-light {color: var(--ligth) !important;}
.text-grey{color: var(--greybold) !important;}
.text-greybold{color: var(--greybold) !important;}

.text-blue{
    color: var(--blue) !important;
}

.btn-outline-primary{
    color:var(--primary) !important;
    border-color: var(--primary) !important;
}

.mark, mark {
    padding: .2em;
    background-color: var(--redmarck);
    color: var(--ligth) !important;
    font-size: 2em;
}
.btn-outline-primary:hover {
    color: var(--ligth) !important;
    background-color: var(--primary);
    border-color:  var(--primary);
}
.border-primary {
    border-color: var(--primary) !important;
}
.border-secondary {
    border-color: var(--second) !important;
}

.cont-limine{
    background-position-x: right;
    background-position-y: bottom;
    position: relative;
    z-index: 1;
}

.icon-home-img {
    width: 300px;
}

.wabe-backimg{
    background-position-x: right !important;
    background-position-y: bottom !important;
    /* background-attachment: fixed; */
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.podcast{
    padding: 4em;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../image/greenMenu.svg);
}
.btn-outline-primary:hover{

}

.wabe-button{
    margin-top: -5rem;
}

.line-header{
    width: 150px;
    margin-left: -30px;
    height: 2px !important;
}

.certificates
{
    margin-right: 2em;
}

.world{
    margin-bottom: 15rem;
    width: 85%;
    margin: auto;
}

.historia{
    border-left: var(--primary) solid 5px;
    padding: 4em;
}
.working-img{
    position: absolute;
}

.container-experience{
    margin-top: 30rem;
}
.container-vitamina{
    margin-top: 10rem;
    text-align: right;
}
.bg-mg-producto{
    position: relative;
    padding-bottom: 32rem;
}
.wabe-button-producto {
    margin-top: -15rem;
}
.mark-vitamina{
    padding: 0em;
    background-color: gold;
    color: var(--secondary) !important;
    font-size: 1em;
}
.comilla{
    width: 3em;
}

.text-mje, .mje-2{
    margin: 0;
}
.container-headers{
    width:100%;
}

.btn-contact{
    max-width: 150px !important;
    margin-top: 2rem;
    border: var(--ligth) solid 2px !important;
    border-radius: 0px;
}

.position-front{
    z-index: 99;
}

.image-principal{
    margin: 0;
    position: relative;
    margin-top: -10rem;
    display: flex;
}

.time-text:hover{
        color: var(--ligth);
        background-color: var(--primary);
}

.time-responsive{
    width:750px;
}

.img-down{
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    position: absolute;
    margin-top: -600px;
}

.bg-mg{
    padding-bottom: 35rem;
}

.bg-down{
    margin-top: -95vh;
    height: 95vh;
    right: 0;
    width: 100%;
    background-size: cover !important;
}
.bh{
    height: 35rem;
    position: relative;
    right: 0px;
    height: 100%;
    width: 100%;
}
.contador-cont{
    width: 50%;
    margin: auto;
    align-items: center;
}

.border-bottom {
    border-bottom: 1px solid #cccccc !important;
}

.hr-div{
    height: 1px;
    color: #797979;
    width: 50%;
    text-align: center;
    display: flex;
    align-content: space-between;
    margin: auto;
}

.hr-div-notice {
    height: 1px;
    color: #797979;
    width: 30%;
    text-align: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkfooter{
    color: var(--greybold);
    text-decoration: none;
}

.linkfooter:hover{
    color: var(--grey);
    text-decoration: none;
}

.icon-youtube:hover,
.icon-youtube:focus  {
    filter: invert(48%) sepia(100%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(0%);
}
.notice-footer{
    margin-top: 2rem;
    margin-bottom: 0rem;
}
body {
    margin:0;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
}
p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
}

.flayer-producto{
    background-size: cover !important;
    height: 65vh;
    position: relative;
}

.slider-border{
    padding-bottom: 10em;
    padding-top: 5em;
}


.container-headers-parrafo {
    width: 50%;
    text-align: center;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    h1 {
        font-size:24px;
    }
    .bg-trasparente{
        background-color: #fff !important;
    }

    .video-container {
        height: 95vh;
    }
    header .overlay {
        position: absolute;
        height: 950%;
    }
    .wabe {
        z-index: 99;
        height: auto;
        overflow: hidden;
        margin-bottom: -1px !important;
        position: relative;
        width: 100%;
    }

    .circule-home-img{
        width: 150px !important;
    }

    .finca-box{
        width:50%;
    }
    .welcome-title{
        text-align: center;
        padding-top: 2em;
    }
    .line-header{
        width: 100%;
        margin-left:0;
    }

    header{
        height: 100vh;
    }

    .counts {
        font-size: 1em !important;
    }

    .certificates {
        height: 20px !important;
        margin-right: 1em ;
    }

    .contador-cont {
        width: 75%;
    }

    .border-menu{
        border-bottom: 1px solid #cccccc !important;
        border-top: 1px solid #dee2e6!important;
    }

    .world {
        margin-bottom: 0rem;
        width: 100%;
    }

    .container-experience {
        margin-top: 15rem;
    }

    .container-vitamina{
        margin-top: 5rem;
    }

    .cita-world{
        flex: 0 0 auto;
        width: 100%;
        text-align: start;
        margin-left: 1rem;
        text-align: center;
    }

    .bg-mg {
        padding-bottom: 10rem;
    }

    .footer{
        text-align: center;
    }
    .privacidad{
        display: block;
    }
    .hr-div-notice {
        margin: auto;
    }

    .cite{
        text-align: initial;
    }
    .bg-down {
        margin-top: -25vh;
        height: 25vh;
        width: 100%;
        background-size: cover !important;
    }

    .text-mje, .mje-2 {
        /* margin: 0px; */
        font-size: medium;
    }

    .comilla {
        width: 2em;
    }
    .icon-home-img {
        width: 150px;
    }

    .wabe-button-producto {
        margin-top: -5rem;
    }
    .img-producto-bk{
        background-size: cover !important;
    }
    .carricel-size {
        max-width: 150px;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .container-headers-parrafo {
        width: 100%;
    }

    .div-img .img-ball {
        width: 300px !important;
        height: 300px!important;
    }

    .container-ball {
        width: 280px !important;
        height: 280px !important;
        right: 15px !important;
        margin: 0 auto;
        top: 10px !important;
    }

    .div-img .text {
        height: 250px !important;
        width: 250px !important;
        bottom: 0;
        border-radius: 50%;
        left: 30px !important;
        padding-right: 0px !important;
    }

    .focus-img-ok{
        background-position-x: 75% !important;
    }
}
/**********/
.carricel-size{
    max-width: 400px;
    margin: auto;
}

.bg-trasparente {
    background-color: transparent !important;
    transition: all 1s ease;
}
.bg-light{
    transition: all 1s ease;
}
header {
    height: 100vh;
    background-attachment: fixed !important;
    background-size: cover;
    color: #ffffff;
}
.platano{
    width: 100%;
}
.video-container {
    position: absolute;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*
    background-color: #0a401d85;*/
    opacity: 0.8;
    z-index: 1;
}
.img-gost:hover {
    filter: drop-shadow(5px 5px 10px #444);
}
.circule-home-img{
    width: 400px;
}

.wabe{
    z-index: 99;
    overflow: hidden;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.circule-back-header{
    position: absolute;
}

.welcome-title{
    margin: auto;
}

.text-parrafo {
    margin: auto;
    margin-left: 10%;
    margin-right: 15%;
}

.counts{
    font-size: 2em;
}

.container-wolrd{
    height:600px;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('./assets/image/bg-img1.png') black no-repeat center center scroll;
    }
    header video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100vh;
        height: 100vh;
        width: auto;
        min-width: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .canvas{
        height: 100vh !important;
    }

    .wabe-button {
        margin-top: 0rem !important;
    }

    .container-headers{
        display: block;
    }

    .platano {
        width: 350px;
    }
    .text-parrafo {
        margin-left: 0;
        margin-right: 0;
    }


}
/**********/

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    list-style: none;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}
.menu li a {
    font-size: 14px;
    color: var(--ligth);
    text-decoration: none;
    transition: all 0.45s;
}
.menu li:hover {
    border-bottom: 1px solid var(--second) !important;
    -webkit-animation: line 1s;
    animation: line 1s;
}
.menu li:hover a {
    color: var(--primary) !important;
}
.menu li:not(:last-child) {
    margin-right: 10px;
}

@-webkit-keyframes line {
    0% {
        background-position-x: 390px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}
/* Header components*/


#who-i-am{
    z-index: 99;
    position: relative;
    padding-top: 5rem;
}

/*FIGURE*/

figure.snip0015 {
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000000;
    text-align: center;
    margin: 0;
}
figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8em 0em;
    width: 100%;
    height: 100%;
}
figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: "";
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
}
figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.snip0015 h2 span {
    font-weight: 800;
}
figure.snip0015 p {
    font-weight: 200;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}
figure.snip0015:hover img {
    filter: blur(5px);
    opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}


/*PANORAMICA*/

.imagenPano {
    -webkit-animation: animatedBackground 110s alternate ease-in-out infinite;
    animation-name: mov-izq;
    animation-duration: 110s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    -moz-animation-name: mov-izq;
    -moz-animation-duration: 110s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -webkit-animation-name: mov-izq;
    -webkit-animation-duration: 110s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
}

/*       EEFCTOS DE IMAGENES        */
.imagenPano{
    background-image: url(../../assets/image/people-wabe.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
}
.imagenPano{
    -webkit-animation: animatedBackground 60s alternate ease-in-out infinite;
    animation-name: mov-izq;
    /*280 seg*/
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    -moz-animation-name: mov-izq;
    -moz-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -webkit-animation-name: mov-izq;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
}
/*

 */
@keyframes mov-izq{
    0% { background-position: 0em }
    100%{background-position:-800px}
}
@-webkit-keyframes mov-izq{
    0% { background-position: 0em }
    100%{background-position:-800px}
}



/*efecto ball*/


.container-ball {
    width: 380px;
    height: 380px;
    right: 60px;
    margin: 0 auto;
    top: 20px;
}
.div-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.div-img .img-ball {
    display: block;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border-radius: 50% !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: translate(0px);
    -ms-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate(0px);
    -o-transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.div-img .text {
    position: absolute;
    z-index: 0;
    display: block;
    height: 380px;
    width: 380px;
    bottom: 0;
    border-radius: 50%;
    left: 10px;
    padding-right: 5px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#89bf00+0,156339+100 */
    background: #89bf00; /* Old browsers */
    background: -moz-linear-gradient(top,  #89bf00 0%, #156339 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #89bf00 0%,#156339 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #89bf00 0%,#156339 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89bf00', endColorstr='#156339',GradientType=0 ); /* IE6-9 */

}
.div-img:hover .img-ball {
    transform: translate(-60px, -5px);
    -ms-transform: translate(-60px, -5px);
    -moz-transform: translate(-60px, -5px);
    -webkit-transform: translate(-60px, -5px);
    -o-transform: translate(-60px, -5px);
}

/*efecto ball*/
